In [1]:
from spam_classifier import *
random.seed(0)

In [2]:
path = r"emails/*/*"
data = get_subject_data(path)
train_data, test_data = split_data(data, 0.75)

In [3]:
print(len(data))
print(len(train_data))
print(len(test_data))

3301
2471
830

## Identificado o treshold do total de palavras as ser consideraro

In [17]:
df_word_counts = count_words(train_data)

In [18]:
num_spams = len([is_spam
                 for message, is_spam in train_data
                 if is_spam])
num_non_spams = len(train_data) - num_spams

In [19]:
df_word_probs = word_probabilities(df_word_counts,
                                     num_spams,
                                     num_non_spams)

In [20]:
df_word_probs

            is_spam  not_spam  total  prob_is_spam  prob_not_spam
funds             3         0      3      0.009459       0.000238
codecs            0         3      3      0.001351       0.001664
postgresql        0         3      3      0.001351       0.001664
cafe              0         3      3      0.001351       0.001664
ge                2         1      3      0.006757       0.000713
...             ...       ...    ...           ...            ...
by              306      1926   2232      0.828378       0.916072
2002            354      1955   2309      0.958108       0.929862
0               357      1954   2311      0.966216       0.929387
1               352      1961   2313      0.952703       0.932715
from            369      2003   2372      0.998649       0.952687

[2456 rows x 5 columns]

In [21]:
df_quartil = df_word_probs.sort_values(by='total')
df_quartil.shape

(2456, 5)

In [22]:
df_quartil['total'].quantile([0.25,0.5,0.75, 0.95])

0.25      4.00
0.50      7.00
0.75     18.00
0.95    142.25
Name: total, dtype: float64

In [8]:
df_quartil[df_quartil['total'] >= 3].shape

NameError: name 'df_quartil' is not defined

In [20]:
df_quartil[df_quartil['total'] >= 3]['total'] .quantile([0.25,0.5,0.75])

0.25     4.0
0.50     7.0
0.75    18.0
Name: total, dtype: float64

---

In [23]:
from nltk.stem import PorterStemmer